.skills{
    &__content-wrapper{
        display: flex;
        padding: 20px;
        gap: 20px;

        &__inner-content{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__category-text{
                display: inline-block;
                color: var(--yellow-theme-main-color);
                font-size: 22px;
                font-weight: 700;
                line-height: 1rem;
                letter-spacing: 0.5px;
                position: relative;
                text-transform: uppercase;
                padding: 5px 10px;
                border-bottom: 2px solid var(--yellow-theme-main-color);
            }
            &__category-text::before, &__category-text::after{
                position: absolute;
                content: '';
                background-color: var(--yellow-theme-main-color);
                bottom: -1px;
            }
            &__category-text::before{
                left: 0;
            }
            &__category-text::after{
                left: 0;
            }
            div{
                width: 100%;
            }
            .progressbar-wrapper{
                padding: 20px 0px 0px 0px;

                p{
                    font-size: 1.6rem;
                    margin: 0 0 10px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: var(--yellow-theme-sub-text-color);
                }
                
            }
        }
    }
}
.contactme {
    margin-top: 20px; /* Ajouter un espacement entre le paragraphe et le bouton */
    text-align: center;
    button{
        cursor: pointer;
        padding: 10px 70px;
        font-size: 2rem;
        background: transparent;
        color: var(--yellow-theme-main-color);
        border: 1.5px solid var(--yellow-theme-main-color);
        border-radius: 4px;
        font-weight: 500;

        &:hover{
            background: var(--yellow-theme-main-color);
            color: #000000;
        }

    }
}
