.stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    height: 100vh;
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  